<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<span class="brand">
				<a href="https://apollo.open-resource.org"><img class="logo-icon" src="img/fav32.png" bs-tooltip="'Goto Apollo-NG Website'" data-placement="bottom"></img></a>
				<span id="topnav_title" class="page-title">{{dashboard.title}}</span>
			</span>
			<ul class="nav pull-right" ng-controller='DashboardNavCtrl' ng-init="init()">

				<li ng-show="dashboardViewState.fullscreen">
					<a ng-click="exitFullscreen()">
						Back to dashboard
					</a>
				</li>

				<li ng-repeat="pulldown in dashboard.nav" ng-controller="PulldownCtrl" ng-show="pulldown.enable">
					<grafana-simple-panel type="pulldown.type" ng-cloak>
					</grafana-simple-panel>
				</li>

				<li class="dropdown grafana-menu-save">
					<a bs-tooltip="'Save'" data-placement="bottom" class="dropdown-toggle" data-toggle="dropdown" ng-click="openSaveDropdown()">
						<i class='icon-save'></i>
					</a>

					<ul class="save-dashboard-dropdown dropdown-menu" ng-if="saveDropdownOpened">
						<li>
							<form class="input-prepend nomargin save-dashboard-dropdown-save-form">
								<input class='input-medium' ng-model="dashboard.title" type="text" />
								<button class="btn" ng-click="saveDashboard()"><i class="icon-save"></i></button>
							</form>
						</li>

						<li>
							<a class="link" ng-click="set_default()">Save as Home</a>
						</li>
						<li>
							<a class="link" ng-click="purge_default()">Reset Home</a>
						</li>
						<li ng-show="!isFavorite">
							<a class="link" ng-click="markAsFavorite()">Mark as favorite</a>
						</li>
						<li ng-show="isFavorite">
							<a class="link" ng-click="removeAsFavorite()">Remove as favorite</a>
						</li>
						<li>
							<a class="link" ng-click="editJson()">Dashboard JSON</a>
						</li>
						<li>
							<a class="link" ng-click="exportDashboard()">Export dashboard</a>
						</li>
						<li ng-show="db.saveTemp">
							<a bs-tooltip="'Share'" data-placement="bottom" ng-click="saveForSharing()" config-modal="app/partials/dashLoaderShare.html">
								Share temp copy
							</a>
						</li>
					</ul>
				</li>

				<li id="svg-timerange" bs-tooltip="'Zoom Out'">
					<input type="range" min="0" max="360" value="360" step="10" id="svg-timeoffset" class="range-input" onchange="setTimeOffset(value)">
				</li>

				<li id="svg-refresh" class="grafana-menu-refresh">
					<a><i class="icon-refresh"></i></a>
				</li>

				<li id="grafana-menu-zoom-out" class="grafana-menu-zoom-out"><a bs-tooltip="'Zoom Out'" data-placement="bottom" ng-click='zoom(2)'><i class='icon-zoom-out'></i></a></li>

				<li class="dropdown grafana-menu-load">
					<a ng-click="openSearch()" bs-tooltip="'Goto System Overview'">
						<i class='icon-folder-open'></i>
					</a>
				</li>

				<li id="grafana-menu-home" class="grafana-menu-home"><a bs-tooltip="'Goto System Overview'" data-placement="bottom" href='#/'><i class='icon-home'></i></a></li>

				<li class="grafana-menu-edit" ng-show="dashboard.editable" bs-tooltip="'Configure dashboard'" data-placement="bottom"><a class="link" dash-editor-link="app/partials/dasheditor.html"><i class='icon-cog pointer'></i></a></li>

				<li class="grafana-menu-stop-playlist hide">
					<a class='small' ng-click='stopPlaylist(2)'>
						Stop playlist
					</a>
				</li>

			</ul>
		</div>
	</div>
</div>
