<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Virtual Flight Control Center</title>
  <link rel="stylesheet" href="css/grafana.dark.min.css" title="Dark">
  <link rel="stylesheet" href="css/vfcc.css">
  <link rel="icon" type="image/png" href="img/fav32.png">
  <script src="app/vfcc.js"></script>
  <!-- build:js app/app.js -->
  <script src="vendor/require/require.js"></script>
  <script src="app/components/require.config.js"></script>
  <!-- endbuild -->
  <script>
    require(['app'], function(app) {
      app.boot();
    })
  </script>
  <script src="app/components/require.config.js"></script>

</head>

<body ng-cloak ng-controller="GrafanaCtrl">
  <div class="page-alert-list">
    <div ng-repeat='alert in dashAlerts.list' class="alert-{{alert.severity}} alert">
      <button type="button" class="alert-close" ng-click="dashAlerts.clear(alert)">
        <i class="icon-remove-sign"></i>
      </button>
      <div class="alert-title">{{alert.title}}</div>
      <div ng-bind-html='alert.text'></div>
    </div>
  </div>

  <div ng-view></div>

  <h1 id="emboss" class="emboss">Apollo-NG<br /><b style="font-size: 44px; margin-top: 50px; display: inline-block">Virtual Flight Control Center</b></h1>

  <div id="system-overview" class="apollo-panel">
    <object id="svg-vehicle-backdrop" data="img/apollo-ng-vehicle-backdrop.svg" type="image/svg+xml" height="610" width="1150" style="z-index: 98; position: relative; top: -30px; left: 0px;"></object>
    <object id="svg-energy-overlay" data="img/apollo-ng-energy-view.svg" type="image/svg+xml" height="630" width="1150" class="svg-overlay" style="z-index: 99; position: relative; top: -645px; left: 0px;"></object>
    <div id="overlay-quickstats">
      <table class="qs-table">
        <thead>
          <tr>
            <th id="qsday">Today</th>
            <th scope="col">Odyssey</th>
            <th scope="col">Aquarius</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Sunlight</th>
            <td id="OSolT">0 h</td>
            <td id="ASolT">0 h</td>
          </tr>
          <tr>
            <th>Harvest</th>
            <td id="OPVHT">0 Wh</td>
            <td id="APVHT">0 Wh</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>UCSSPM</th>
            <td id="OPVUT">0 Wh</td>
            <td id="APVUT">0 Wh</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div id="primer">
    <p>Ahoy there, welcome to the Apollo-NG Virtual Flight Control Center. Here are a few tips what to do next:</p>
    <ul>
      <li>If you see the Moon, then it's night :) Use the timeslider at the top to adjust a 24h time tail</li>
      <li>Most Buttons and Elements show more details on a click</li>
      <li>Use the "Open Dashboard" Button in the top right to open other dashboards</li>
    </ul>
  </div>

  <div class="md-modal md-effect-1" id="md-OBatA">
    <div class="md-content">
      <h3>Odyssey - Battery A <span class="md-icon" onclick="hideModal('md-OBatA')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>Odyssey Lead-Acid Starter Battery</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-OBatB">
    <div class="md-content">
      <h3>Odyssey - Battery B <span class="md-icon" onclick="hideModal('md-OBatB')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>Winner Protheus 270Ah AGM Battery</p>
        <p>Sponsored by Nep</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-OSKU">
    <div class="md-content">
      <h3>Odyssey - Station Keeping Unit (SKU) <span class="md-icon" onclick="hideModal('md-OSKU')"><i class="icon-remove"></i></span></h3>
      <div>
        <table class="md-table">
          <thead>
            <tr>
              <th scope="col" colspan="4"><b>Unit</b>
              </th>
            </tr>
            <tr>
              <td>Status</td>
              <td>ID</td>
              <td>Name</td>
              <td>Temperature</td>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td class="online">Online</td>
              <td>28-000004822342</td>
              <td>SKU</td>
              <td>21 °C</td>
            </tr>
          </tfoot>
        </table>
        <br />
        <table class="md-table t-green">
          <thead>
            <tr>
              <th scope="col" colspan="3">Input</th>
            </tr>
            <tr>
              <td>Voltage (U)</td>
              <td>Current (I)</td>
              <td>Power (P)</td>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td>13.8 V</td>
              <td>0.03 A</td>
              <td>0.4 W</td>
            </tr>
          </tfoot>
        </table>
        <br />
        <table class="md-table">
          <thead>
            <tr>
              <th scope="col" colspan="4">Services</th>
            </tr>
            <tr>
              <td></td>
              <td>Status</td>
              <td>Metrics</td>
              <td>Value</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>SKUD</th>
              <td class="online">Online</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>PDUD</th>
              <td class="online">Online</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>GPSD</th>
              <td class="online">Online</td>
              <td>Status</td>
              <td>[L4D] [VS13] [P3m] [LPPS]</td>
            </tr>
            <tr>
              <th>CHRONYD</th>
              <td class="online">Online</td>
              <td>StdDev (UTC)</td>
              <td>Min: -18 µs Avg: 17.1 ns Max: 58.2 µs</td>
            </tr>
            <tr>
              <th>COLLECTD</th>
              <td class="online">Online</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="md-footer">
        <a href="https://apollo.open-resource.org/mission:tech:odyssey:sku" class="button" target="_blank"><i class="icon-info-sign"></i> Hardware Details</a>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-OPDU">
    <div class="md-content">
      <h3>Odyssey - Power Distribution Unit (PDU) <span class="md-icon" onclick="hideModal('md-OPDU')"><i class="icon-remove"></i></span></h3>
      <div>
        <table class="md-table">
            <thead>
                <tr>
                    <th scope="col" colspan="4"><b>Unit</b>
                    </th>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Temperature</td>
                </tr>
            </thead>
          <tfoot>
            <tr>
              <td class="online">Online</td>
              <td>28-000004822342</td>
              <td>PDU</td>
              <td>21 °C</td>
            </tr>
          </tfoot>
        </table>
        <br />
        <table class="md-table t-green">
          <thead>
            <tr>
              <th scope="col" colspan="3">Input</th>
            </tr>
            <tr>
              <td>Voltage (U)</td>
              <td>Current (I)</td>
              <td>Power (P)</td>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td>13.8 V</td>
              <td>0.04 A</td>
              <td>0.5 W</td>
            </tr>
          </tfoot>
        </table>
        <br />
        <table class="md-table">
          <thead>
            <tr>
              <th scope="col" colspan="4">Output</th>
            </tr>
            <tr>
              <td style="text-align: left; padding-left: 8px;">Main Bus</td>
              <td>Status</td>
              <td>Nominal</td>
              <td>Voltage</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="fg-yellow"><b>12V</b></th>
              <td class="online">Online</td>
              <td>12.0 V</td>
              <td>12.0 V</td>
            </tr>
            <tr>
              <th class="fg-red"><b>5V</b></th>
              <td class="online">Online</td>
              <td>5.0 V</td>
              <td>5.0 V</td>
            </tr>
            <tr>
              <th class="fg-orange"><b>3.3V</b></th>
              <td>Offline</td>
              <td>3.3 V</td>
              <td>0 V</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="md-footer">
        <a href="https://apollo.open-resource.org/mission:tech:odyssey:pdu" class="button" target="_blank"><i class="icon-info-sign"></i> Hardware Details</a>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-OMCU">
    <div class="md-content">
      <h3>Odyssey - Main Computing Unit (MCU) <span class="md-icon" onclick="hideModal('md-OMCU')"><i class="icon-remove"></i></span></h3>
      <div>
          <table class="md-table">
              <thead>
                  <tr>
                      <th scope="col" colspan="4"><b>Unit</b>
                      </th>
                  </tr>
                  <tr>
                      <td>Status</td>
                      <td>ID</td>
                      <td>Name</td>
                      <td>Temperature</td>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                      <td class="online">Online</td>
                      <td>28-000004822342</td>
                      <td>MCU</td>
                      <td>21 °C</td>
                  </tr>
              </tfoot>
          </table>
          <br />
          <table class="md-table t-green">
              <thead>
                  <tr>
                      <th scope="col" colspan="3">Input</th>
                  </tr>
                  <tr>
                      <td>Voltage (U)</td>
                      <td>Current (I)</td>
                      <td>Power (P)</td>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                      <td>13.8 V</td>
                      <td>0.03 A</td>
                      <td>0.4 W</td>
                  </tr>
              </tfoot>
          </table>
          <br />
          <table class="md-table">
              <thead>
                  <tr>
                      <th scope="col" colspan="4">Services</th>
                  </tr>
                  <tr>
                      <td></td>
                      <td>Status</td>
                      <td>Metrics</td>
                      <td>Value</td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th>SKUD</th>
                      <td class="online">Online</td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <th>PDUD</th>
                      <td class="online">Online</td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <th>GPSD</th>
                      <td class="online">Online</td>
                      <td>Status</td>
                      <td>[L4D] [VS13] [P3m] [LPPS]</td>
                  </tr>
                  <tr>
                      <th>CHRONYD</th>
                      <td class="online">Online</td>
                      <td>StdDev (UTC)</td>
                      <td>Min: -18 µs Avg: 17.1 ns Max: 58.2 µs</td>
                  </tr>
                  <tr>
                      <th>COLLECTD</th>
                      <td class="online">Online</td>
                      <td></td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="md-footer">
          <a href="https://apollo.open-resource.org/mission:tech:odyssey:mcu" class="button" target="_blank"><i class="icon-info-sign"></i> Hardware Details</a>
      </div>
  </div>
</div>

  <div class="md-modal md-effect-1" id="md-OBCC">
    <div class="md-content">
      <h3>Odyssey - Boost Charge Controller (BCC) <span class="md-icon" onclick="hideModal('md-OBCC')"><i class="icon-remove"></i></span></h3>
      <div>
          <table class="md-table">
              <thead>
                  <tr>
                      <th scope="col" colspan="4"><b>Unit</b>
                      </th>
                  </tr>
                  <tr>
                      <td>Status</td>
                      <td>ID</td>
                      <td>Name</td>
                      <td>Temperature</td>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                      <td>Standby</td>
                      <td>N/A</td>
                      <td>Votronic VCC 1212-25</td>
                      <td>21 °C</td>
                  </tr>
              </tfoot>
          </table>
          <br />
          <table class="md-table t-white">
              <thead>
                  <tr>
                      <th scope="col" colspan="3">Input</th>
                  </tr>
                  <tr>
                      <td>Voltage (U)</td>
                      <td>Current (I)</td>
                      <td>Power (P)</td>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                      <td>13.1 V</td>
                      <td>0 A</td>
                      <td>0 W</td>
                  </tr>
              </tfoot>
          </table>
          <br />
          <table class="md-table t-green">
              <thead>
                  <tr>
                      <th scope="col" colspan="3">Output</th>
                  </tr>
                  <tr>
                      <td>Voltage (U)</td>
                      <td>Current (I)</td>
                      <td>Power (P)</td>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                      <td>13.8 V</td>
                      <td>0 A</td>
                      <td>0 W</td>
                  </tr>
              </tfoot>
          </table>
      </div>
      <div class="md-footer">
          <a href="https://apollo.open-resource.org/mission:tech:odyssey#alternator" class="button" target="_blank"><i class="icon-info-sign"></i> Hardware Details</a>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-OSCC">
    <div class="md-content">
      <h3>Odyssey - Solar Charge Controller (SCC) <span class="md-icon" onclick="hideModal('md-OSCC')"><i class="icon-remove"></i></span></h3>
      <div>
        <table class="md-table">
            <thead>
                <tr>
                    <th scope="col" colspan="4"><b>Unit</b>
                    </th>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Temperature</td>
                </tr>
            </thead>
          <tfoot>
            <tr>
              <td id="OSCCStatus" class="online">Standby</td>
              <td>N/A</td>
              <td>Votronic MPP 420 Duo Digital</td>
              <td>21 °C</td>
            </tr>
          </tfoot>
        </table>
        <br />
        <table id="OSCCIB" class="md-table t-green">
          <thead>
            <tr>
              <th scope="col" colspan="3">Input from Battery A</th>
            </tr>
            <tr>
              <td>Voltage (U)</td>
              <td>Current (I)</td>
              <td>Power (P)</td>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td>13.8 V</td>
              <td>0.01 A</td>
              <td>0.1 W</td>
            </tr>
          </tfoot>
        </table>
        <table id="OSCCIS" class="md-table t-lightblue" style="display:none">
            <thead>
                <tr>
                    <th scope="col" colspan="4">Input from PV-Panels</th>
                </tr>
                <tr>
                    <td>MPP</td>
                    <td>Voltage (U)</td>
                    <td>Current (I)</td>
                    <td>Power (P)</td>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>18.1 V</td>
                    <td>18.1 V</td>
                    <td id="OSCCII">0 A</td>
                    <td id="OSCCIP">0 W</td>
                </tr>
            </tfoot>
        </table>
        <br />
        <div id="OSCCO" style="opacity: 0.4">
            <div style="display: inline-block; width: 49%; width: calc(50% - 8px); width: -moz-calc(50% - 8px); width: -webkit-calc(50% - 8px); margin-right: 16px;">
              <table id="OSCCOM" class="md-table">
                <thead>
                  <tr>
                    <th scope="col" colspan="2">Main Output</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Type</th>
                    <td>AGM</td>
                  </tr>
                  <tr>
                    <th>Curve</th>
                    <td>IU1oU2</td>
                  </tr>
                  <tr>
                    <th>Voltage (U)</th>
                    <td>14.4 V</td>
                  </tr>
                  <tr>
                    <th>Current (I)</th>
                    <td id="OSCCOMI">0 A</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Power (P)</th>
                    <td id="OSCCOMP">0 W</td>
                  </tr>
                </tfoot>
              </table>
          </div><div style="display: inline-block; width: 49%; width: calc(50% - 8px); width: -moz-calc(50% - 8px); width: -webkit-calc(50% - 8px);">
              <table id="OSCCOA" class="md-table">
                <thead>
                  <tr>
                    <th scope="col" colspan="2">Aux. Output</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Type</th>
                    <td>Lead-Acid</td>
                  </tr>
                  <tr>
                    <th>Curve</th>
                    <td>IU1oU2</td>
                  </tr>
                  <tr>
                    <th>Voltage (U)</th>
                    <td>0 V</td>
                  </tr>
                  <tr>
                    <th>Current (I)</th>
                    <td>0 A</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Power (P)</th>
                    <td>0 W</td>
                  </tr>
                </tfoot>
              </table>
        </div>
        </div>
      </div>
      <div class="md-footer">
        <a href="https://apollo.open-resource.org/mission:tech:odyssey#solar-charging-controller-with-mppt" class="button" target="_blank"><i class="icon-info-sign"></i> Hardware Details</a>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-OLOAD">
    <div class="md-content">
      <h3>Odyssey - Load (Power Consumers)<span class="md-icon" onclick="hideModal('md-OLOAD')"><i class="icon-remove"></i></span></h3>
      <div>
        <p style="width: 100%; text-align: center">This unit will be available when funding for the required hardware is aquired</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-ABatA">
    <div class="md-content">
      <h3>Aquarius - Battery A <span class="md-icon" onclick="hideModal('md-ABatA')"><i class="icon-remove"></i></span></h3>
      <div>
        <p style="width: 100%; text-align: center">This unit will be available when funding for the required hardware is aquired</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-ASKU">
    <div class="md-content">
      <h3>Aquarius - Station Keeping Unit (SKU) <span class="md-icon" onclick="hideModal('md-ASKU')"><i class="icon-remove"></i></span></h3>
      <div>
        <p style="width: 100%; text-align: center">This unit will be available when funding for the required hardware is aquired</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-APDU">
    <div class="md-content">
      <h3>Aquarius - Power Distribution Unit (PDU) <span class="md-icon" onclick="hideModal('md-APDU')"><i class="icon-remove"></i></span></h3>
      <div>
        <p style="width: 100%; text-align: center">This unit will be available when funding for the required hardware is aquired</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-AMCU">
    <div class="md-content">
      <h3>Aquarius - Main Computing Unit (MCU) <span class="md-icon" onclick="hideModal('md-AMCU')"><i class="icon-remove"></i></span></h3>
      <div>
        <p style="width: 100%; text-align: center">This unit will be available when funding for the required hardware is aquired</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-AAPU">
    <div class="md-content">
      <h3>Aquarius - Auxiliary Power Unit (APU) <span class="md-icon" onclick="hideModal('md-AAPU')"><i class="icon-remove"></i></span></h3>
      <div>
        <p style="width: 100%; text-align: center">This unit will be available when funding for the required hardware is aquired</p>
      </div>
      <div class="md-footer">
        <a href="https://apollo.open-resource.org/mission:tech:aquarius:apu" class="button" target="_blank"><i class="icon-info-sign"></i> Hardware Details</a>
      </div>
    </div>
  </div>


  <div class="md-modal md-effect-1" id="md-AGCC">
    <div class="md-content">
      <h3>Aquarius - Grid Charge Controller (GCC) <span class="md-icon" onclick="hideModal('md-AGCC')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>Votronic Automatic Charger Pb 1240 SMT 3B</p>
      </div>
      <div class="md-footer">
        <a href="https://apollo.open-resource.org/mission:tech:aquarius:sku" class="button" target="_blank"><i class="icon-info-sign"></i> Hardware Details</a>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-AGI">
    <div class="md-content">
      <h3>Aquarius - Grid Inverter (GI) <span class="md-icon" onclick="hideModal('md-AGI')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>Votronic Inverter SMI 1000 ST-NVS</p>
      </div>
      <div class="md-footer">
        <a href="https://apollo.open-resource.org/mission:tech:aquarius:sku" class="button" target="_blank"><i class="icon-info-sign"></i> Hardware Details</a>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-ASCC">
    <div class="md-content">
      <h3>Aquarius - Solar Charge Controller (SCC) <span class="md-icon" onclick="hideModal('md-ASCC')"><i class="icon-remove"></i></span></h3>
      <div>
        <p style="width: 100%; text-align: center">This unit will be available when funding for the required hardware is aquired</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-AGRID">
    <div class="md-content">
      <h3>Aquarius - Grid Power<span class="md-icon" onclick="hideModal('md-AGRID')"><i class="icon-remove"></i></span></h3>
      <div>
        <p style="width: 100%; text-align: center">This unit will be available when funding for the required hardware is aquired</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-ALOAD">
    <div class="md-content">
      <h3>Aquarius - Load (Power Consumers)<span class="md-icon" onclick="hideModal('md-ALOAD')"><i class="icon-remove"></i></span></h3>
      <div>
        <p style="width: 100%; text-align: center">This unit will be available when funding for the required hardware is aquired</p>
      </div>
    </div>
  </div>


  <div class="md-modal md-effect-1" id="md-OPVP">
    <div class="md-content">
      <h3>Odyssey - Solar Array<span class="md-icon" onclick="hideModal('md-OPVP')"><i class="icon-remove"></i></span></h3>
      <div>
        <table class="md-table t-orange">
          <thead>
            <tr>
              <th scope="col" colspan="2"><b>Angle</b>
              </th>
              <th scope="col" colspan="3"><b>Global Solar Radiation</b>
              </th>
            </tr>
            <tr>
              <td>Sun</td>
              <td>Panels</td>
              <td>Direct</td>
              <td>Diffuse</td>
              <td>UCSSPM Max.</td>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td id="OSZA">0 °</td>
              <td id="OPVPA">0 °</td>
              <td id="ORSODIR">0 W/m²</td>
              <td id="ORSODIF">0 W/m²</td>
              <td id="ORSOMAX">0 W/m²</td>
            </tr>
          </tfoot>
        </table>
        <br />
        <table class="md-table t-lightblue">
          <thead>
            <tr>
              <th></th>
              <th scope="col">Panel 1</th>
              <th scope="col">Panel 2</th>
              <th scope="col">Panel 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Temperature</th>
              <td class="OPVPT">25 °C</td>
              <td class="OPVPT">25 °C</td>
              <td class="OPVPT">25 °C</td>
            </tr>
            <tr>
              <th>Volt (U)</th>
              <td class="OPVPU">0 V</td>
              <td class="OPVPU">0 V</td>
              <td class="OPVPU">0 V</td>
            </tr>
            <tr>
              <th>Ampere (I)</th>
              <td class="OPVPI">0 A</td>
              <td class="OPVPI">0 A</td>
              <td class="OPVPI">0 A</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Watt (P)</th>
              <td id="OPVP1P">0 W</td>
              <td id="OPVP2P">0 W</td>
              <td id="OPVP3P">0 W</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="md-footer">
        <a href="#/dashboard/db/odyssey-solar-power" class="button" onclick="hideModal('md-OPVP')"><i class="icon-signal"></i> Charts/History</a>
        <a href="https://apollo.open-resource.org/mission:tech:odyssey#solar" class="button" target="_blank"><i class="icon-info-sign"></i> Hardware Details</a>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-APVP">
    <div class="md-content">
      <h3>Aquarius - Solar Array<span class="md-icon" onclick="hideModal('md-APVP')"><i class="icon-remove"></i></span></h3>
      <div>
        <table class="md-table t-orange">
          <thead>
            <tr>
              <th scope="col" colspan="2"><b>Angle</b>
              </th>
              <th scope="col" colspan="3"><b>Global Solar Radiation</b>
              </th>
            </tr>
            <tr>
              <td>Sun</td>
              <td>Panels</td>
              <td>Direct</td>
              <td>Diffuse</td>
              <td>UCSSPM Max.</td>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td id="ASZA">0 °</td>
              <td id="APVPA">0 °</td>
              <td id="ARSODIR">0 W/m²</td>
              <td id="ARSODIF">0 W/m²</td>
              <td id="ARSOMAX">0 W/m²</td>
            </tr>
          </tfoot>
        </table>
        <br />
        <table class="md-table t-lightblue">
          <thead>
            <tr>
              <th></th>
              <th scope="col">Panel 1</th>
              <th scope="col">Panel 2</th>
              <th scope="col">Panel 3</th>
              <th scope="col">Panel 4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Temperature</th>
              <td class="OPVPT">25 °C</td>
              <td class="OPVPT">25 °C</td>
              <td class="OPVPT">25 °C</td>
              <td class="OPVPT">25 °C</td>
            </tr>
            <tr>
              <th>Volt (U)</th>
              <td id="APVP1U">0 V</td>
              <td id="APVP2U">0 V</td>
              <td id="APVP3U">0 V</td>
              <td id="APVP4U">0 V</td>
            </tr>
            <tr>
              <th>Ampere (I)</th>
              <td id="APVP1I">0 A</td>
              <td id="APVP2I">0 A</td>
              <td id="APVP3I">0 A</td>
              <td id="APVP4I">0 A</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Watt (P)</th>
              <td id="APVP1P">0 W</td>
              <td id="APVP2P">0 W</td>
              <td id="APVP3P">0 W</td>
              <td id="APVP4P">0 W</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="md-footer">
        <a href="#/dashboard/db/aquarius-solar-power" class="button" onclick="hideModal('md-APVP')"><i class="icon-signal"></i> Charts/History</a>
        <a href="https://apollo.open-resource.org/mission:tech:aquarius#solar" class="button" target="_blank"><i class="icon-info-sign"></i> Hardware Details</a>
      </div>
    </div>
  </div>

  <div class="md-overlay"></div>

</body>

</html>
