<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Virtual Flight Control Center</title>
  <link rel="stylesheet" href="css/grafana.dark.min.css" title="Dark">
  <link rel="stylesheet" href="css/vfcc.css">
  <link rel="icon" type="image/png" href="img/fav32.png">
  <script src="app/vfcc.js"></script>
  <!-- build:js app/app.js -->
  <script src="vendor/require/require.js"></script>
  <script src="app/components/require.config.js"></script>
  <!-- endbuild -->
  <script>
    require(['app'], function(app) {
      app.boot();
    })
  </script>
  <script src="app/components/require.config.js"></script>

</head>

<body ng-cloak ng-controller="GrafanaCtrl">
  <div class="page-alert-list">
    <div ng-repeat='alert in dashAlerts.list' class="alert-{{alert.severity}} alert">
      <button type="button" class="alert-close" ng-click="dashAlerts.clear(alert)">
        <i class="icon-remove-sign"></i>
      </button>
      <div class="alert-title">{{alert.title}}</div>
      <div ng-bind-html='alert.text'></div>
    </div>
  </div>

  <div ng-view></div>

  <div id="system-overview" class="apollo-panel">
    <object data="img/apollo-ng-system-view-basedrop.svg" type="image/svg+xml" height="600" width="1150" style="z-index: 99; position: relative; top: 260px; left: 0px;"></object>
    <object id="svg-energy-overlay" data="img/apollo-ng-energy-view.svg" type="image/svg+xml" height="630" width="1150" class="svg-overlay" style="z-index: 99; position: relative; top: -645px; left: 0px;"></object>
    <div id="overlay-quickstats">
      <table class="qs-table t-orange">
          <thead>
              <tr>
                  <th id="qsday">Today</th>
                  <th scope="col">Odyssey</th>
                  <th scope="col">Aquarius</th>
              </tr>
          </thead>
          <tfoot>
              <tr>
                  <th>Sunlight</th>
                  <td id="OSolT">0 h</td>
                  <td id="ASolT">0 h</td>
              </tr>
              <tr>
                  <th>Harvest</th>
                  <td id="OPVHT">0 Wh</td>
                  <td id="APVHT">0 Wh</td>
              </tr>
              <tr>
                  <th>UCSSPM</th>
                  <td id="OPVUT">0 Wh</td>
                  <td id="APVUT">0 Wh</td>
              </tr>
          </tfoot>
      </table>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-OBatA">
    <div class="md-content">
      <h3>Odyssey - Battery A <span class="md-icon" onclick="hideModal('md-OBatA')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-OBatB">
      <div class="md-content">
          <h3>Odyssey - Battery B <span class="md-icon" onclick="hideModal('md-OBatB')"><i class="icon-remove"></i></span></h3>
              <div>
                  <p>This is an empty modal window</p>
              </div>
          </div>
      </div>

  <div class="md-modal md-effect-1" id="md-OSKU">
    <div class="md-content">
      <h3>Odyssey - Station Keeping Unit (SKU) <span class="md-icon" onclick="hideModal('md-OSKU')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-OPDU">
    <div class="md-content">
      <h3>Odyssey - Power Distribution Unit (PDU) <span class="md-icon" onclick="hideModal('md-OPDU')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-OMCU">
    <div class="md-content">
      <h3>Odyssey - Main Computing Unit (MCU) <span class="md-icon" onclick="hideModal('md-OMCU')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

   <div class="md-modal md-effect-1" id="md-OBCC">
    <div class="md-content">
      <h3>Odyssey - Boost Charge Controller (BCC) <span class="md-icon" onclick="hideModal('md-OBCC')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-OSCC">
    <div class="md-content">
      <h3>Odyssey - Solar Charge Controller (SCC) <span class="md-icon" onclick="hideModal('md-OSCC')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

   <div class="md-modal md-effect-1" id="md-OLOAD">
    <div class="md-content">
      <h3>Odyssey - Load (Power Consumers)<span class="md-icon" onclick="hideModal('md-OLOAD')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-ABatA">
    <div class="md-content">
      <h3>Aquarius - Battery A <span class="md-icon" onclick="hideModal('md-ABatA')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-ASKU">
    <div class="md-content">
      <h3>Aquarius - Station Keeping Unit (SKU) <span class="md-icon" onclick="hideModal('md-ASKU')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-APDU">
    <div class="md-content">
      <h3>Aquarius - Power Distribution Unit (PDU) <span class="md-icon" onclick="hideModal('md-APDU')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-AMCU">
    <div class="md-content">
      <h3>Aquarius - Main Computing Unit (MCU) <span class="md-icon" onclick="hideModal('md-AMCU')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-AAPU">
    <div class="md-content">
      <h3>Aquarius - Auxiliary Power Unit (APU) <span class="md-icon" onclick="hideModal('md-AAPU')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>


  <div class="md-modal md-effect-1" id="md-AGCC">
    <div class="md-content">
      <h3>Aquarius - Grid Charge Controller (GCC) <span class="md-icon" onclick="hideModal('md-AGCC')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-AGI">
    <div class="md-content">
      <h3>Aquarius - Grid Inverter (GI) <span class="md-icon" onclick="hideModal('md-AGI')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-ASCC">
    <div class="md-content">
      <h3>Aquarius - Solar Charge Controller (SCC) <span class="md-icon" onclick="hideModal('md-ASCC')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-AGRID">
    <div class="md-content">
      <h3>Aquarius - Grid Power<span class="md-icon" onclick="hideModal('md-AGRID')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-ALOAD">
    <div class="md-content">
      <h3>Aquarius - Load (Power Consumers)<span class="md-icon" onclick="hideModal('md-ALOAD')"><i class="icon-remove"></i></span></h3>
      <div>
        <p>This is an empty modal window</p>
      </div>
    </div>
  </div>


  <div class="md-modal md-effect-1" id="md-OPVP">
    <div class="md-content">
      <h3>Odyssey - Solar Array<span class="md-icon" onclick="hideModal('md-OPVP')"><i class="icon-remove"></i></span></h3>
      <div>
        <table class="md-table t-orange">
          <thead>
            <tr>
              <th scope="col" colspan="2"><b>Angle</b>
              </th>
              <th scope="col" colspan="3"><b>Global Solar Radiation</b>
              </th>
            </tr>
            <tr>
              <td>Sun</td>
              <td>Panels</td>
              <td>Direct</td>
              <td>Diffuse</td>
              <td>UCSSPM Max.</td>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td id="OSZA">0 °</td>
              <td id="OPVPA">0 °</td>
              <td id="ORSODIR">0 W/m²</td>
              <td id="ORSODIF">0 W/m²</td>
              <td id="ORSOMAX">0 W/m²</td>
            </tr>
          </tfoot>
        </table>
        <br />
        <table class="md-table t-lightblue">
          <thead>
            <tr>
              <th></th>
              <th scope="col">Panel 1</th>
              <th scope="col">Panel 2</th>
              <th scope="col">Panel 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Temperature</th>
              <td class="OPVPT">25 °C</td>
              <td class="OPVPT">25 °C</td>
              <td class="OPVPT">25 °C</td>
            </tr>
            <tr>
              <th>Volt (U)</th>
              <td class="OPVPU">0 V</td>
              <td class="OPVPU">0 V</td>
              <td class="OPVPU">0 V</td>
            </tr>
            <tr>
              <th>Ampere (I)</th>
              <td class="OPVPI">0 A</td>
              <td class="OPVPI">0 A</td>
              <td class="OPVPI">0 A</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Watt (P)</th>
              <td id="OPVP1P">0 W</td>
              <td id="OPVP2P">0 W</td>
              <td id="OPVP3P">0 W</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="md-footer">
        <a href="#/dashboard/db/odyssey-solar-power" class="button" onclick="hideModal('md-OPVP')">Show Metrics History</a>
        <a href="/mission:tech:odyssey#" class="button" target="_blank">Show Hardware Details</a>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="md-APVP">
    <div class="md-content">
      <h3>Aquarius - Solar Array<span class="md-icon" onclick="hideModal('md-APVP')"><i class="icon-remove"></i></span></h3>
      <div>
        <table class="md-table t-orange">
          <thead>
            <tr>
              <th scope="col" colspan="2"><b>Angle</b></th>
              <th scope="col" colspan="3"><b>Global Solar Radiation</b></th>
            </tr>
            <tr>
              <td>Sun</td>
              <td>Panels</td>
              <td>Direct</td>
              <td>Diffuse</td>
              <td>UCSSPM Max.</td>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td id="ASZA">0 °</td>
              <td id="APVPA">0 °</td>
              <td id="ARSODIR">0 W/m²</td>
              <td id="ARSODIF">0 W/m²</td>
              <td id="ARSOMAX">0 W/m²</td>
            </tr>
          </tfoot>
        </table>
        <br />
        <table class="md-table t-lightblue">
          <thead>
            <tr>
              <th></th>
              <th scope="col">Panel 1</th>
              <th scope="col">Panel 2</th>
              <th scope="col">Panel 3</th>
              <th scope="col">Panel 4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Temperature</th>
              <td class="OPVPT">25 °C</td>
              <td class="OPVPT">25 °C</td>
              <td class="OPVPT">25 °C</td>
              <td class="OPVPT">25 °C</td>
            </tr>
            <tr>
              <th>Volt (U)</th>
              <td id="APVP1U">0 V</td>
              <td id="APVP2U">0 V</td>
              <td id="APVP3U">0 V</td>
              <td id="APVP4U">0 V</td>
            </tr>
            <tr>
              <th>Ampere (I)</th>
              <td id="APVP1I">0 A</td>
              <td id="APVP2I">0 A</td>
              <td id="APVP3I">0 A</td>
              <td id="APVP4I">0 A</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Watt (P)</th>
              <td id="APVP1P">0 W</td>
              <td id="APVP2P">0 W</td>
              <td id="APVP3P">0 W</td>
              <td id="APVP4P">0 W</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="md-footer">
        <a href="#/dashboard/db/aquarius-solar-power" class="button" onclick="hideModal('md-APVP')">Show Metrics History</a>
        <a href="/mission:tech:aquarius#" class="button" target="_blank">Show Hardware Details</a>
      </div>
    </div>
  </div>

  <div class="md-overlay"></div>

</body>

</html>
